:root {
  --primary: #97d0bd;
  --primary-dark: #7fbba7;
  --black: #000000;
  --text: #111111;
  --background: #ffffff;
  --light-bg: #f8faf9;
  --border: #dce8e3;
  --muted: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--background);
  color: var(--text);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =======================
   NAVBAR
======================= */

.navbar {
  width: 100%;
  padding: 28px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.logo {
  font-size: 1.1rem;
  font-weight: 50;
  letter-spacing: 2px;
  color: var(--black);
}

.logo span {
  color: var(--primary);
  font-weight: 700;
}
.navbar nav {
  display: flex;
  gap: 32px;
}

.navbar nav a {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.navbar nav a:hover {
  color: var(--primary-dark);
}

/* =======================
   HERO
======================= */

.hero {
  min-height: 85vh;
  padding: 80px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8rem;
  margin-bottom: 18px;
  color: var(--primary-dark);
  font-weight: 600;
}

.hero h1 {
  max-width: 950px;
  font-size: clamp(3rem, 8vw, 7rem);
  line-height: 0.95;
  font-weight: 500;
  margin-bottom: 28px;
}

.hero-text {
  max-width: 620px;
  font-size: 1.1rem;
  color: var(--muted);
  margin-bottom: 36px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

/* =======================
   BUTTONS
======================= */

.btn {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 999px;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn.primary {
  background: var(--primary);
  color: var(--black);
  border: none;
}

.btn.primary:hover {
  background: var(--primary-dark);
  transform: translateY(-3px);
}

.btn.secondary {
  border: 1px solid var(--black);
  background: transparent;
  color: var(--black);
}

.btn.secondary:hover {
  background: var(--black);
  color: white;
  transform: translateY(-3px);
}

/* =======================
   INTRO
======================= */

.intro {
  padding: 100px 8%;
  text-align: center;
  background: #FAFAFA;
  color: black;
}

.intro h2 {
  font-size: clamp(2rem, 5vw, 4.5rem);
  font-weight: 400;
  margin-bottom: 24px;
}

.intro p {
  max-width: 700px;
  margin: 0 auto;
  color: black;
  font-size: 1.1rem;
}

/* =======================
   SERVICES
======================= */
.services {
  padding: 120px 8%;
  max-width: 1400px;
  margin: 0 auto;
}

.services h2 {
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: 400;
  margin-bottom: 50px;
}

.services-accordion {
  display: flex;
  gap: 18px;
  height: 220px;
  transition: height 0.5s ease;
}

.services-accordion:has(.service-panel.active) {
  height: 420px;
}

.service-panel {
  flex: 1;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border);
  background: #FAFAFA; /* Maria!*/
  transition:
    flex 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    background 0.5s ease 0.25s,
    color 0.5s ease 0.25s;
  cursor: pointer;
}

.service-panel.active {
  flex: 4;
  background: var(--white);
  color: white;
}
.service-panel.inactive {
  flex: 0.4;
}

.service-title {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: var(--black);
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  padding: 30px;

  transition: opacity 0.25s ease, transform 0.25s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-panel.active .service-title {
  opacity: 0;
  transform: scale(0.96);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.service-panel.inactive .service-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1rem;
  color: var(--muted);
  align-items: center;
  justify-content: center;
}

.service-content {
  position: absolute;
  inset: 0;
  padding: 50px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(14px);
  transition:
    opacity 0.45s ease 0.35s,
    transform 0.45s ease 0.35s,
    visibility 0.45s ease 0.35s;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-panel.active .service-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.service-content h3 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 300;
  margin-bottom: 20px;
  color: var(--black);
}

.service-content p {
  max-width: 650px;
  font-size: 1.1rem;
  color: black;
  margin-bottom: 34px;
}

.close-service {
  width: fit-content;
  border: 1px solid var(--primary);
  background: transparent;
  color: var(--black);
  padding: 12px 22px;
  border-radius: 999px;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.close-service:hover {
  background: var(--primary);
  color: var(--black);
}

.project-slider {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.project-display {
  display: grid;
  grid-template-columns: 420px 1fr;
  gap: 70px;
  align-items: center;
  min-height: 650px;
}

.project-video-card {
  width: 100%;
  height: 600px;
  background: var(--black);
  border-radius: 28px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.video-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    gap: 10px;
}

.video-btn {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: rgba(0, 0, 0, 0.75);
    color: white;

    font-size: 1.1rem;
    cursor: pointer;

    transition: 0.3s ease;
}

.video-btn:hover {
    background: var(--primary);
    color: var(--black);
}

.project-video-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  max-width: 520px;
}

.project-number {
  color: var(--primary-dark);
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.project-info h3 {
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 300;
  line-height: 1;
  margin-bottom: 24px;
}

.project-info p {
  color: var(--muted);
  font-size: 1.05rem;
}

.project-arrow {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid var(--black);
  background: white;
  color: var(--black);
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.project-arrow:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.project-arrow.up {
  position: absolute;
  right: 0;
  top: 80px;
}

.project-arrow.down {
  position: absolute;
  right: 0;
  bottom: 80px;
}

@media (max-width: 800px) {
  .services-accordion {
    flex-direction: column;
    height: auto;
  }

  .service-panel,
  .service-panel.active,
  .service-panel.inactive {
    flex: none;
    min-height: 130px;
  }

  .service-panel.active {
    min-height: 420px;
  }

  .service-panel.inactive .service-title {
    writing-mode: initial;
    transform: none;
    font-size: 1.2rem;
  }

  .service-content {
    padding: 32px;
  }
}

.about-us {
    padding: 100px 8%;
}

.about-us h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 300;
}

.about-container {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 60px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 24px;
}

.about-content p {
    color: var(--muted);
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.extra-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.extra-text.show {
    max-height: 500px;
}

.read-more-btn {
    margin-top: 10px;
    background: transparent;
    border: none;
    color: var(--primary-dark);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.read-more-btn:hover {
    opacity: 0.8;
}

/* =======================
   WORK / PORTFOLIO
======================= */

.work {
  padding: 120px 8%;
  background: var(--light-bg);
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.work-card {
  background: white;
  overflow: hidden;
  transition: 0.3s ease;
}

.work-card:hover {
  transform: translateY(-6px);
}

.image-placeholder {
  height: 420px;
  background: linear-gradient(
    135deg,
    #97d0bd,
    #7fbba7
  );
}

.work-card h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 22px 22px 0;
}

.work-card p {
  color: var(--muted);
  padding: 4px 22px 22px;
}

/* =======================
   CTA
======================= */

.contact-section {
    padding: 10px 3%;
    background: white;
    text-align: center;
}

.contact-section h2 {
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    font-weight: 300;
    margin-top: 18px;
    margin-bottom: 15px;
}

.contact-subtitle {
    color: var(--muted);
    max-width: 600px;
    margin: 0 auto 35px;
}

.contact-form {
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
}

.name-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    margin-bottom: 16px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

.input-group input,
.input-group textarea {
    width: 100%;
    border: 1px solid var(--border);
    background: white;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 16px;
    transition: all 0.3s ease;
}

.input-group textarea {
    resize: vertical;
    min-height: 100px;
}

.input-group input:focus,
.input-group textarea:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 4px rgba(151, 208, 189, 0.2);
}

.submit-btn {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 999px;
    background: var(--primary);
    color: var(--black);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background: var(--primary-dark);
    transform: translateY(-3px);
}

.response-time {
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
    color: var(--muted);
    font-size: 0.9rem;
}

/* =======================
   FOOTER
======================= */

.footer {
  padding: 36px 8%;
  background: var(--black);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer div {
  display: flex;
  gap: 24px;
}

.footer a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s ease;
}

.footer a:hover {
  color: var(--primary);
}

.mute-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: rgba(0,0,0,.7);
    color: white;

    cursor: pointer;
    font-size: 1.2rem;
}

.project-video-card {
    position: relative;
}

/* =======================
   RESPONSIVE
======================= */

@media (max-width: 1100px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero {
    min-height: auto;
    padding: 80px 8%;
  }

  .footer {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

.stats {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat {
  text-align: center;
}

.stat h3 {
  font-size: 7rem;
  color: black;
  font-weight: 700;
}

.stat span {
  display: block;
  margin-top: 10px;
  color:black;
  font-size: 0.95rem;
}

.preloader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  color: var(--black);
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader-circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-top-color: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;

  animation: spin 1s linear infinite;
}

.loader-circle span {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
  animation: spinReverse 1s linear infinite;
}

.preloader p {
  margin-top: 24px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--black);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  to {
    transform: rotate(-360deg);
  }
}

@media (max-width: 700px) {
  .service-grid,
  .work-grid {
    grid-template-columns: 1fr;
  }

  .image-placeholder {
    height: 300px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero-buttons {
    width: 100%;
    flex-direction: column;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .navbar nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}
